In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv("train (1).csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
# Removing unwanted columns
df.drop(['Id'],inplace=True,axis=1)

In [10]:
df['SalePrice']=df['SalePrice'].fillna(df['SalePrice'].mean)

In [11]:
import tensorflow as tf
import tensorflow_decision_forests as tfdf
model=tfdf.keras.RandomForestModel(task=tfdf.keras.Task.REGRESSION)

dataset = tfdf.keras.pd_dataframe_to_tf_dataset(
df, label="SalePrice", task=tfdf.keras.Task.REGRESSION)

model.fit(x=dataset)
print("Model fitted successfully.")

Use /tmp/tmp1lc0rq4g as temporary training directory
Reading training dataset...
Training dataset read in 0:00:03.383409. Found 1460 examples.
Training model...
Model trained in 0:00:02.830291
Compiling model...
Model compiled.
Model fitted successfully.

In [12]:
model.compile(metrics=["mse"])
evaluation = model.evaluate(x=dataset, return_dict=True)
print(evaluation)

2/2 [==============================] - 1s 30ms/step - loss: 0.0000e+00 - mse: 243106368.0000
{'loss': 0.0, 'mse': 243106368.0}

In [14]:

test_data = pd.read_csv("test (2).csv")
ids = test_data.pop('Id')

test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(
    test_data,
    task = tfdf.keras.Task.REGRESSION)

preds = model.predict(test_ds)
output = pd.DataFrame({'Id': ids,
                       'SalePrice': preds.squeeze()})

output.head()

2/2 [==============================] - 1s 25ms/step

     Id      SalePrice
0  1461  127140.390625
1  1462  154835.218750
2  1463  179722.875000
3  1464  184686.703125
4  1465  193947.812500